name: Python application

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Make checkout and clone repository
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Shows the variable
        run: echo "USERNAME=${{ github.actor }} >> $GITHUB_ENV"
      - name: Execute main python
        run: python main.py

